* {
  border: 0;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-size: 15px;
}
.card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  max-width: 18rem;
}
img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem;
}
p {
  margin: 1rem;
  text-align: center;
  color: hsl(220, 15%, 55%);
}
footer {
  position: absolute;
  height: 2.5rem;
  bottom: 0;
}
